<main class = default_main>
    <div class="page_container" >
        {{instructions}}
    </div>
    <div class="page_container" id="play_game_container">
        <div class="center">
            <button type="button" id={{game}}><img id={{image_id}} src"{{image_link}}" alt="game button"></button>
        </div>
        <div class="center">
            <div class="score">
                <h3>{{score}}</h3>
            </div>
        </div>
    </div>
    <div class="page_container" id="rank_container">
        {{rankings}}
    </div>
</main>